---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <img class='img-responsive center-block' src="/images/group2024.jpg" width="100%" height="100%" />

      <p style="text-align:justify; font-size: 1.1em;">
        The Koo Lab at the Simons Center for Quantitative Biology at Cold Spring Harbor Laboratory develops interpretable deep learning methods to decode the regulatory genome and unravel the sequence–function relationships that govern gene regulation and protein behavior. Our research focuses on designing deep learning architectures informed by biological principles, devising robust techniques to extract insights from high-performing models, and building foundational models for genomics and protein sequences---all with the goal of transforming computational predictions into mechanistic understanding that drives discoveries in biology and cancer research.      </p>

      <i>.</i>

        <span style="display: block; margin-bottom: 3em"></span>

      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 7776000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>



      <span style="display: block; margin-bottom: 3em"></span>


      <span style="display: block; margin-bottom: 3em"></span>
      <div class="row">
        <div class="col-xs-6 text-left">
          <img src="/images/logo.png" alt="Lab Logo" style="height: 60px; margin-bottom: 20px;">
        </div>
        <div class="col-xs-6 text-right">
          <img src="/images/cshl_logo.png" alt="CSHL Logo" style="height: 60px; margin-bottom: 20px;">
        </div>
      </div>
      <div style="clear: both;"></div>
      Simons Center for Quantitative Biology, Cold Spring Harbor Laboratory<br>
      1 Bungtown Road, Cold Spring Harbor, NY 11724
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
