<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="/">
            <span style="font-family:'Open Sans'; font-weight:300">{{ site.name }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="navbar-nav ms-auto">
                {% for nav in site.nav %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ nav.href }}">{{ nav.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
